body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #581314, #a8895c);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
  }

  .container {
    background: #fff8f3;
    padding: 50px 40px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
    transition: all 0.4s ease-in-out;
  }

  .container:hover {
    transform: scale(1.02);
  }

  .logo {
    width: 100px;
    margin-bottom: 20px;
  }

  h2 {
    color: #581314;
    margin-bottom: 20px;
    font-weight: bold;
  }

  input {
    width: 90%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    font-size: 14px;
    background-color: #fffefc;
   
  }

  input:focus {
    border-color: #c5a059;
    outline: none;
  }

  button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #581314;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: 0.3s ease;
  }

  button:hover {
    background-color: #7a1a1a;
  }

  p {
    margin-top: 15px;
    font-size: 14px;
  }

  a {
    color: #a8895c;
    text-decoration: none;
    font-weight: 600;
  }

  a:hover {
    text-decoration: underline;
  }

  .alert {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
  }